@import "tailwindcss";

*{
    cursor: none;
}

body {
    background-color: #0a0a0a;
    color: white;
    padding: 4rem;
    font-family: var(--font-sans);

}

@theme {
    --font-sans: "DM Mono", monospace;
    --font-serif: "Instrument Serif", serif;
    --font-display: "Syne", sans-serif;
}


/* Hero dots */

.hero-dots {
    background-color: #0a0a0a;
    background-image: radial-gradient(
        circle,
        rgba(255,255,255,0.12) 1px,
        transparent 1px
    );
    background-size: 40px 40px;
    mask-image: radial-gradient(
        ellipse 85% 75% at 50% 45%,
        black 30%,
        transparent 100% 
    );
    -webkit-mask-image: radial-gradient(
    ellipse 85% 75% at 50% 45%,
    black 30%,
    transparent 100%
  );
}


.hero-glow {
    background: radial-gradient(
        ellipse 70% 60% at 50% 40%,
        rgba(255, 255, 255, 0.06) 0%,
        rgba(255, 255, 255, 0.02) 40%,
        transparent 70%
    );
}

/* Marquee infinite scroll */

@keyframes marquee {
    0% { transform :translateX(0);}
    100% {transform:translateX(-50%)}
}

.hero-marquee-track {
    animation: marquee 25s linear infinite
}

.hero-marquee-track:hover .hero-marquee-track{
    animation-play-state: paused;
}


/* Hero Text Animation */

@keyframes hero-line-enter {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-hero-line-enter {
    animation: hero-line-enter .5s ease-in-out forwards;
  }